/* #################### 헤더 영역 #################### */
@media (max-width:1199px) {
    .logo {
        width: 120px;
    }
    .logo img {
        width: 100%;
    }
    .gnb {
        font-size: 1em;
    }
}
@media (max-width:420px) {
    .main {
        max-width: 390px;
        margin: auto;
    }
    .main_menu {
        padding: 0;
    }
}
@media (max-width:420px) {
    .main {
        max-width: 350px;
    }
    .sub {
        display: none;
    }
}
@media (max-width:1199px) {
    .hd {
        position: relative;
    }
    .main1.section,
    .main1.fp-tableCell {
        height: auto !important;
    }
    .main_menu {
        position: relative;
    }
    .gnb {
        position:fixed;
        top: 105px;
        right: 0%;
        width: 100%;
        display: none;
        background-color: #fff;
        height: 100vh;
    }
    .gnb.on {
        display: block;
    }
    .gnb>ul {
        display: block;
        font-size: 1.5em;
        border-top: 2px solid #ccc;
    }
    .gnb>ul>li {
        display: block;
        position: relative;
        font-family: 'SamsungOne', sans-serif;
        font-weight: 700;
        border-bottom: 1px solid #ccc;
        padding: 2%;
    }
    .gnb>ul>li:hover .dep2 {
        /* display: block; */
        height: auto;
        
    }
    .gnb>ul>li:hover {
        background-color: #fff;
    }
    .dep2 {
        position: relative !important;
        height: 0;
        overflow: hidden;
        font-size: 0.8em;
        font-family: 'NanumBarunGothic';
    }
    .dep2>li {
        display: block;
        height: 100%;
        padding: 1% 0;
        border-bottom: 1px solid #ccc;
    }
    .dep2>li:hover>a {
        color: var(--main-c1);
        font-weight: bold;
    }
    .dep2>li:nth-of-type(1) {
        margin-top: 2%;
    }
    .dep2>li:last-of-type {
        border: none;
    }
    .sub_menu {
        display: none;
    }
    .hamburger {
        display: block;
        position: relative;
    }
}
/* #################### 슬로건 영역 #################### */
@media (max-width:1199px) {
    .main_title h2 {
        font-size: 3.9em;
    }
    .wheel {
        display: none;
    }
}
@media (max-width:832px) {
    .main_title h2 {
        font-size: 3.5em;
    }
}
@media (max-width:746px) {
    .main_title {
        height: 30%;
    }
    .main_title h2 {
        font-size: 3em;
    }
}
@media (max-width:643px) {
    .main_title h2 {
        font-size: 2.3em;
    }
}
@media (max-width:420px) {
    .main_title {
        width: 70%;
    }
    .main_title h2 {
        font-size: 2.5em;
    }
}
@media (max-width:375px) {
    .main_title h2 {
        font-size: 2em;
    }
}
/* #################### 인트로 영역 #################### */
@media (max-width:1199px) {
    .imgbox>a>p {
        font-size: 1.4em;
    }
    .imgbox>.go>a>span {
        display: none;
    }
}
@media (max-width:842px) {
    .imgbox>a>p {
        font-size: 1.2em;
        font-weight: bold;
    }
}
@media (max-width:768px) {
    .int_img {
        flex-direction: column;
    }
    .int_img>div {
        width: 100%;
    }
    .imgbox a img {
        position: absolute;
        width: 100%;
        height: auto;
    }
    .imgbox:nth-of-type(1):hover a img,
    .imgbox:nth-of-type(2):hover a img,
    .imgbox:nth-of-type(3):hover a img,
    .imgbox:nth-of-type(4):hover a img{
        width: 110%;
        height: auto;
        filter:brightness(1);
    }
    .imgbox>.go {
        flex-direction: row;
        width: 50%;
    }
    .imgbox>.go>a {
        width: 40%;
    }
}
@media (max-width: 375px) {
    .imgbox>.go a:nth-of-type(1)::after,
    .imgbox>.go a:nth-of-type(2)::after {
        display: none;
    }
    .imgbox>.go {
        width: 70%;
        display: flex;
        align-items: center;
    }
    .imgbox>.go>a {
        height: 30px;
        padding: 0 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.95em;
    }
}
/* #################### 보드 영역 #################### */
@media (max-width:1199px) {
    .icon_text p:nth-of-type(1) {
        font-size: 1.2em;
    }
    .icon_text p:nth-of-type(2) {
        font-size: 1.5em;
    }
    .icon_text p:nth-of-type(3) {
        font-size: 0.8em;
    }
    .news_img img {
        width: auto;
        height: 100%;
    }
    .news_img:hover img {
        width: auto;
        height: 110%;
    }
    .news_text p:nth-of-type(1) {
        font-size: 1em;
    }
    .news_text p:nth-of-type(2) {
        font-size: 1.2em;
    }
    .news_text p:nth-of-type(3) {
        font-size: 0.8em;
    }
    .icon_img {
        width: 90px;
    }
}
@media (max-width:842px) {
    .news_list {
        display: flex;
        flex-wrap: wrap;
        height: 70%;
    }
    .news_list>div {
        width: 50%;
    }
    .news_img {
        position: relative;
        margin-bottom: 5px;
    }
    .news_img img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: auto;
        transform: translate(-50%, -50%);
    }
    .news_img:hover img {
        width: 110%;
        height: auto;
    }
}
@media (max-width:763px) {
    .intro1 {
        padding-top: 5%;
    }
}
@media (max-width:659px) {
    .icon_text p:nth-of-type(1){
        font-size: 1em;
    }
    .icon_text p:nth-of-type(2){
        font-size: 1.2em;
    }
}
@media (max-width:531px) {
    .icon_text p:nth-of-type(1){
        font-size: 0.9em;
    }
    .icon_text p:nth-of-type(2){
        font-size: 0.95em;
    }
}
@media (max-width:420px) {
    .intro1,
    .newsroom {
        max-width: 390px;
        margin: auto;
    }
}
@media (max-width:375px) {
    .intro1,
    .newsroom {
        padding-top: 40px;
        max-width: 350px;
    }
    .newsroom {
        padding-bottom: 0px;
    }
    .icon_img {
        display: flex;
        justify-content: center;
    }
    .icon_img img {
        width: 80px;
    }
    .icon_text p:nth-of-type(1){
        font-size: 0.8em;
    }
    .icon_text p:nth-of-type(2){
        font-size: 1em;
    }
    .icon_text p:nth-of-type(3){
        font-size: 0.7em;
    }
    .busi_set {
        max-width: 360px;
        margin: auto;
        width: 100%;
        position: relative;
        height: 100%;
    }
    .busi_set>div {
        justify-content: flex-end;
        width: 50%;
        height: 50%;
        position: absolute;
    }
    .busi_icon:nth-of-type(1) {
        top: 0;
        left: 0;
    }
    .busi_icon:nth-of-type(2) {
        top: 0;
        right: 0;
    }
    .busi_icon:nth-of-type(3) {
        bottom: 0;
        left: 0;
    }
    .busi_icon:nth-of-type(4) {
        bottom: 0;
        right: 0;
    }
    .icon_img img {
        width: 70px;
    }
    .news_list {
        max-width: 360px;
        margin: auto;
    }
}
/* #################### 코프 영역 #################### */
@media (max-width:1199px) {
    .stock_notice>div {
        display: flex;
        flex-direction: column;
    }
    .stock_notice>p {
        margin-bottom: 0.5em;
    }
    .stock_notice>div>p:nth-of-type(2) {
        display: flex;
        justify-content: right;
        font-size: 0.8em;
        margin-top: 0.5em;
    }
    .notice_list1::after {
        top: 85%;
    }
    .notice_list2 a::after {
        top: 27%;
        font-size: 1em;
    }
    .stock_info {
    }
    .info_l p:nth-of-type(1) {
        font-size: 1.2em;
    }
    .info_l p:nth-of-type(2),
    .info_l span {
        font-size: 0.8em;
    }
    .info_l p:nth-of-type(3) {
        font-size: 2.5em;
        padding: 0.5em 0;
    }
    .info_l span:nth-of-type(2) {
        width: 60%;
    }
    .info_r p:nth-of-type(1) {
        font-size: 1em;
        margin-top: 0.7em
    }
    .info_r p:nth-of-type(2) span {
        font-size: 0.8em;
    }
    .info_r .left em {
        display: block;
    }
    
    .stock_go>a {
        height: calc(100% / 3 - 8px);
        display: flex;
        align-items: center;
    }
    /* corp 영역 */
    .gover>p {
        margin-bottom: 10%;
        font-size: 1em;
    }
    .gover_text>a>p {
        font-size: 1.2em;
    }
    .gover_img img {
        width: 94px;
    }
}
@media (max-width:842px) {
    .info_l p:nth-of-type(3) {
        font-size: 2em;
        padding: 0.5em 0;
    }
}
@media (max-width:763px) {
    .corp {
        /* height: 100vh !important; */
    }
    .corp>div {
        display: flex;
        flex-direction: column;
        justify-content: space-between !important;
        height: 100% !important;
    }
    .stock,
    .corp_info {
        padding-top: 5%;
    }
    .stock {
        padding-bottom: 0;
    }
    .stock_list {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }
    .stock_list>div {
        width: 100%;
    }
    .stock_notice {
        background-color: rgba(255, 255, 255, 0.411);
        height: 40%;
    }
    .notice_list1 {
        margin-bottom: 0.7em;
        border-bottom: 1px solid #ccc;
        padding-bottom: 0.5em !important;
    }
    .notice_list1::after {
        display: none;
    }
    .notice_list1,
    .notice_list2 {
        padding: 0;
        display: flex;
        flex-direction: row !important;
        font-size: 1em !important;
    }
    .notice_list1>p:first-child,
    .notice_list2>p:first-child {
        padding: 0 5%;
    }
    .stock_go {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40px;
    }
    .stock_go a {
        padding: 2% 5%;
        font-size: 1em;
        width: calc(100% / 3 - 6px);
        height: 100%;
    }
    .stock_go a:nth-of-type(2) {
        margin: 0;
    }
    .stock_inner {
        height: 55%;
    }
    .corp_inner {
        height: 35%;
    }
    .corp_info {
        display: flex;
        justify-content: space-between;
    }
    .gover>p {
        font-size: 0.8em;
    }
    .gover_set {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width:420px) {
    .stock,
    .corp_info {
        max-width: 390px;
        margin: auto;
    }
    .gover>p {
        display: none;
    }
}
@media (max-width:375px) {
    .stock_inner,
    .corp_inner {
        max-width: 350px;
        margin: auto;
    }
    .stock_notice>p {
        font-size: 1.2em;
    }
    .notice_list1,
    .notice_list2 {
        font-size: 0.95em;
    }
    .info_l>p:nth-of-type(3) {
        font-size: 1.4em;
    }
    .stock_go {
        margin-top: 0.5em;
    }
    .corp_inner {
        padding-bottom: 1em;
    }
    .gover>p {
        display: none;
    }
    .gover_text>a>p {
        font-size: 1em;
    }
}
/* #################### 푸터 영역 #################### */
@media (max-width:1199px) {
    .foot_logo {
        width: 120px;
    }
    .foot_logo img {
        width: 100%;
    }
    address {
        width: 60%;
    }
    address * {
        font-size: 0.95em;
    }
}
@media (max-width:842px) {
    .family_site>ul>li>a {
        padding-top: 1em;
        font-size: 0.8em;
    }
}
@media (max-width:763px) {
    address {
        width: 80%;
    }
    .family_site {
        display: none;
    }
}
@media (max-width:659px) {
    address {
        font-size: 0.75em !important;
    }
}
@media (max-width:375px) {
    address {
        text-align: center;
    }
    .foot_menu {
        display: none;
    }
}
/* #################### 타이틀 영역 #################### */
@media (max-width:1199px) {
    .intro_title h2,
    .title h2 {
        font-size: 2.8em;
    }
}
@media (max-width:768px) {
    .title {
        z-index: 1000;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .intro_title {
        display: none;
    }
    .title h2 {
        font-size: 2em;
    }
    .corp_info {
        padding-top: 0;
        padding-bottom: 50px;
    }
}
@media (max-width:550px) {
    .intro_title {
        width: 100%;
    }
}
@media (max-width:375px) {
    .intro_title h2,
    .title h2 {
        font-size: 1.7em;
    }
    .title {
        height: 50px;
    }
}